<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('currency_kinds.currency_kinds'), currency_kinds_url)] %>
<% @current_bread_name = t('currency_kinds.new') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="offset-1 col-lg-10">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('currency_kinds.new') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', currency_kind: @currency_kind %>
    </div>
  </div>
</div>

  
  