<div class="jumbotron">
  <h1>Lista de contactos</h1>
  <p>
    Gerencie os seus contactos em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie a sua Conta', new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
