<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('financial_statements.financial_statements'), financial_statements_url)] %>
<% @current_bread_name = t('financial_statements.edit') %>
<!-- End Breadcrumb -->
<div class="row row_index">
  <div class="offset-2 col-lg-8">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('financial_statements.edit') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', financial_statement: @financial_statement %>
    </div>
  </div>
</div>

  
  