<div class="row mb-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Novo</h4>
      </div>
    </div>
  </div>
</div>
<div class="row px-5">
  <div class="col-lg-12">
    <div class="panel-body px-5">
      <div class="container pt-4 offset-2 col-md-8">
        <%= render 'form', expense_category: @expense_category %>
      </div>
    </div>
  </div>
</div>
  
  

  
  