<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('financial_statements.financial_statements'), financial_statements_url)] %>
<% @current_bread_name = t('financial_statements.new') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="offset-1 col-lg-10">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('financial_statements.new') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', financial_statement: @financial_statement %>
    </div>
  </div>
</div>

  
  