<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('contracts.contracts'), contracts_url)] %>
<% @current_bread_name = t('contracts.new') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="offset-2 col-lg-8">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('contracts.new') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', contract: @contract %>
    </div>
  </div>
</div>

  
  