<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('user_groups.user_groups'), user_groups_url)] %>
<% @current_bread_name = t('user_groups.edit') %>
<!-- End Breadcrumb -->

<div class="row">
  <div class="offset-1 col-lg-10">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('user_groups.edit') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', user_group: @user_group %>
    </div>
  </div>
</div>
