<div class="row mb-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Utilizadores</h4>
      </div>
    </div>
  </div>
</div>
<div class="row px-5">
  <div class="col-lg-12">
    <div class="panel-body px-5">
      <div class="btn-group pull-left pl-5 pt-4">
        <%= link_to new_user_group_path, class: 'btn btn-primary btn-sm waves-effect waves-light' do %>
          <i class="m-l-5 fa fa-plus"></i>
          Novo utilizador
        <% end %>
      </div>
      <div class="col-xs-12 table-responsive px-5 pt-4">
        <table id="user_groups-datatable" class="table table-hover datatables" data-source="<%= user_groups_path(format: :json) %>">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data de Nascimento</th>
              <th>Gênero</th>
              <th>Ações</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>



  


