<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('works.works'), works_url)] %>
<% @current_bread_name = t('works.new') %>
<!-- End Breadcrumb -->

<div class="row row_frameh">
  <div class="offset-2 col-lg-8">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t('works.new') %></h1>
      </div>
      <div class="panel-body">
        <%= render 'form', work: @work %>
      </div>
    </div>
  </div>
</div>

