<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('contract_statuses.contract_statuses'), contract_statuses_url)] %>
<% @current_bread_name = t('contract_statuses.edit') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="offset-2 col-lg-8">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('contract_statuses.edit') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', contract_status: @contract_status %>
    </div>
  </div>
</div>

  
  