<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('incomes.incomes'), incomes_url)] %>
<% @current_bread_name = t('incomes.edit') %>
<!-- End Breadcrumb -->

<div class="row row_frameh">
  <div class="offset-2 col-lg-8">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t('incomes.edit') %></h1>
      </div>
      <div class="panel-body">
        <%= render 'form', income: @income %>
      </div>
    </div>
  </div>
</div>
  
  