<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('incomes.incomes'), incomes_url)] %>
<% @current_bread_name = t('incomes.edit') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= t('incomes.edit') %></h3>
      </div>
      <div class="panel-body">
        <%= render 'form', income: @income %>
      </div>
    </div>
  </div>
</div>


  
  