<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('incomes.incomes'), incomes_url)] %>
<% @current_bread_name = t('incomes.new') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel-heading">
      <h1 class="panel-title text-center">Nova Receita</h1>
    </div>
    <div class="panel-body">
      <%= render 'form', income: @income %>
    </div>
  </div>
</div>
