<div class="row row_frameh">
  <div class="offset-3 col-xs-9">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Contacto</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Nome:</label>
              <div class="col-sm-10">
                <p class="form-control-static"><%= @contact.name %></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Telefone:</label>
              <div class="col-sm-10">
                <p class="form-control-static"><%= @contact.phone %></p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-9 m-t-15">
                  <%= link_to "Sair", contacts_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

