<div class="container">
  <h2>Contacto</h2>
  <ul class="form-group">
    <li class="list-group-item">Name: <%= @contact.name %></li>
    <li class="list-group-item">Phone: <%= @contact.phone %></li>
  </ul>
  <div class="row">
    <div class="col-xs-12 text-right">
      <tr>
        <td>
          <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-warning' %>
          <%= link_to 'Back', contacts_path, class: 'btn btn-danger' %>
        </td>
      </tr>
    </div>
  </div>
</div>
