<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('companies.companies'), companies_url)] %>
<% @current_bread_name = t('companies.edit') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('companies.edit') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>
