<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('income_categories.income_categories'), income_categories_url)] %>
<% @current_bread_name = t('income_categories.new') %>
<!-- End Breadcrumb -->

<div class="row row_frameh">
  <div class="offset-2 col-lg-8">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t('income_categories.new') %></h1>
      </div>
      <div class="panel-body">
        <%= render 'form', income_category: @income_category %>
      </div>
    </div>
  </div>
</div>
  