<div class="row mb-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Gestão Anual</h4>
      </div>
    </div>
  </div>
</div>
<div class="row px-5">
  <div class="col-lg-12">
    <div class="panel-body px-5">
      <div class="btn-group pull-left pl-5 pt-4">
        <%= link_to new_annual_management_path, class: 'btn btn-primary btn-sm waves-effect waves-light' do %>
          <i class="m-l-5 fa fa-plus"></i>
          <%= 'Nova Gestão Anual' %>
        <% end %>
      </div>
      <div class="col-xs-12 table-responsive px-5 pt-4">
        <table id="annual_managements-datatable" class="table table-hover datatables" data-source="<%= annual_managements_path(current_user: current_user, format: :json) %>">
          <thead>
            <tr>
              <th>Ano</th>
              <th>Descrição</th>
              <th>Ações</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>



  