<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('annual_managements.annual_managements'), annual_managements_url)] %>
<% @current_bread_name = t('annual_managements.new') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><%= t('annual_managements.new') %></h1>
    </div>
    <div class="panel-body">
      <%= render 'form', annual_management: @annual_management %>
    </div>
  </div>
</div>