<div class="row mb-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Despesas</h4>
      </div>
    </div>
  </div>
</div>
<div class="row px-5">
  <div class="col-lg-12">
    <div class="panel-body px-5">
      <div class="btn-group pull-left pl-5 pt-4">
        <%= link_to new_expense_path, class: 'btn btn-primary btn-sm waves-effect waves-light' do %>
          <i class="m-l-5 fa fa-plus"></i>
          <%= t('expenses.new') %>
        <% end %>
      </div>
      <div class="btn-group pull-left pl-3 pt-4">
        <%= link_to expenses_template_expenses_path, class: 'btn btn-primary btn-sm waves-effect waves-light' do %>
          <i class="fas fa-download pr-1"></i>
          Template despesas 
        <% end %>
      </div>
      <div class="col-xs-12 table-responsive px-5 pt-4">
        <table id="expenses-datatable" class="table table-hover datatables" data-source="<%= expenses_path(current_user: current_user, format: :json) %>">
          <thead>
            <tr>
              <th>Ano</th>
              <th>Mês</th>
              <th>Ações</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>