<% if bread_links.any? || current_bread_name.present? %>
    <div class="col-sm-offset-3 col-lg-9 p-r-40">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item">
          <%= link_to root_url do %><i class="fa fa-home"></i><% end %>
        </li>
        <% bread_links.each do |bread_link| %>
          <li class="breadcrumb-item">
            <%= bread_link %>
          </li>
        <% end %>
        <li class="breadcrumb-item active"><%= current_bread_name %></li>
      </ol>
    </div>
<% end %>
