<footer>
  <small>
    <%= link_to 'Lista de Contactos. Todos os direitos reservados.', root_path %>
  </small>
   <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', sobre_path %>
      </li>
      <li>
        <%= link_to 'Contacto', contacto_path %>
      </li>
    </ul>
  </nav>
</footer>
