<footer>
  <small>
    <%= link_to 'Lista de Contactos. Todos os direitos reservados.', root_path %>
  </small>
    
      <div id="contacts_footer">
        <a><%= link_to 'Sobre', sobre_path %></a>
        <a><%= link_to 'Contacto', contacto_path %></a>
      </div>
    
  
</footer>
