<div class="row mb-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Contas Banco</h4>
      </div>
    </div>
  </div>
</div>
<div class="row px-5">
  <div class="col-lg-12">
    <div class="panel-body px-5">
      <div class="btn-group pull-left pl-5 pt-4">
        <%= link_to new_account_path, class: 'btn btn-primary btn-sm waves-effect waves-light' do %>
          <i class="m-l-5 fa fa-plus"></i>
          <%= t('accounts.new') %>
        <% end %>
      </div>
      <div class="col-xs-12 table-responsive px-5 pt-4">
        <table id="accounts-datatable" class="table table-hover datatables" data-source="<%= accounts_path(format: :json) %>">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Conta Principal</th>
              <th>C. Crédito</th>
              <th>Conta Poupança</th>
              <th>País</th>
              <th>Moeda</th>
              <th>Descrição</th>
              <th>Ações</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>



  
